td a {
    color: #424242;
    font-size: 20px;
}

.tabla {
    color:#424242;
    font-size: 20px;
}

.header {
    color:white;
    font-size: 50px;
}

.direcciones {
    font-size: 60px;
    color: white; 
}