@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="../Content/bootstrap.min.css" />
    <link rel="stylesheet" href="../Content/HomeStyle.css">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>

<body>
    <div class="" style="margin-top: 10vh">
        <div class="row">
            <div class="menu col-md-3 text-center"> <a href="../Menu/Index"><label class="">Menu</label></a> </div>
            <br/><br /><br />
            <div class="menu col-md-3 text-center"> <a href="../Mapa/Index"><label class="text-center">Locaciones</label></a>  </div>
            <br /><br /><br />
            <div class="menu col-md-3 text-center"> <a href="../Account/Register"><label class="text-center">Registro</label></a>  </div>
            <br /><br /><br />
            <div class="menu col-md-3 text-center" style="margin-top: 20vh"> <a href="../Account/Login"><label class="text-center">Log In</label></a>  </div>
            <br /><br /><br />
        </div>
    </div>

    <div class="img-logo-div">
        <a href="../Menu/Index">
            <img id="img-logo" class="" src="../Media/Logo.png" />
        </a>
    </div>
</body>
</html>
